* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1b1b1b;
    color: #fbfbfb;
}

h1 {
    text-align: center;
    padding: 35px 0;
}